{% extends 'base.twig' %}
{% set active = 'track' %}
{% block head %}
    {% include 'app-scripts.twig' %}
{% endblock %}
{% block body %}
    {% include 'app-tabs.twig' %}
    <div class="chrono-container">
        <div class="title">
            <div class="vertical-center">Chrono</div>
        </div>
        <div class="circle-container">
            <div id="circle" class="circle vertical-center">Start</div>
        </div>
        <div class="action hidden" id="action-finish">
            <div class="vertical-center">Finish task</div>
        </div>
    </div>
{% endblock %}